/*
 * default.css
 * Copyright (C) 2017 Fabien Kleinbourg
 *
 * Distributed under terms of the MIT license.
 */

.login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    /* background-color: rgba(255,255,255,.8); */
}
/* #login-dp .help-block{
font-size:12px    
}*/
.login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
.login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    .login-dp{
        background-color: inherit;
        color: #fff;
    }
    .login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.msg-srv pre{
    background-color: #ffbcab;
    color: #90665c;
    font-weight: bold;
    border: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.msg-clients pre{
    background-color: #f3f90c;
    color: #7b7e08;
    font-weight: bold;
    border: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.msg-me pre{
    background-color: #19fe3c;
    color: #1d772b;
    font-weight: bold;
    border: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.msg-me p{
    text-align: right;
}

#chatbox-wrapper:not(:hover){
    border: 1px solid rgba(221, 221, 221, .5);
    transition: opacity 0.5s, transform 0.5s;
}
#chatbox-wrapper:hover{
    border: 1px solid rgba(221, 221, 221);
    transition: opacity 0.5s, transform 0.5s;
}
#chatbox-wrapper:not(:hover) .panel-heading{
    opacity: 0.2;
    transition: opacity 0.5s;
}
#chatbox-wrapper:hover .panel-heading{
    opacity: 1;
    transition: opacity 0.5s;
}
#chatbox-wrapper:not(:hover) .input-group{
    opacity: 0.2;
    transition: opacity 0.5s;
}
#chatbox-wrapper:hover .input-group{
    opacity: 1;
    transition: opacity 0.5s;
}
/*#chatbox-wrapper:not(:hover) input{
border: none;
}
#chatbox-wrapper:not(:hover) .panel-heading{
opacity: 0;
}
#chatbox-wrapper:not(:hover){
border: none;
}*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
